@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 1.2rem;
	line-height: 1.5;
}

input[type="text"] {
    min-width: 88%;
}

textarea {
    min-width: 88%;
    min-height: 10rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.container {
    margin: 0 5rem 15rem 5rem;
}

.journalForm {
    display: flex;
    flex-direction: column;
}

.fieldset {
    display: flex;
    flex-direction: column;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter__section {
    flex-basis: 45%;
}

.filter__searchTerm {
    width: 97%
}